*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	outline: none;
	@include transition(all .3s ease);
	&:hover{
		text-decoration: none;
		outline: none;
	}
	&:focus{
		text-decoration: none;
		outline: none;
	}
}
.btn{
	border: 0;
	box-shadow: none;
	text-decoration: none;
	outline: none;
	&:hover{
		box-shadow: none;
		text-decoration: none;
		outline: none;		
	}
	&:focus{
		box-shadow: none;
		text-decoration: none;
		outline: none;
	}
}
ul{
	margin: 0;
	padding: 0;
	li{
		list-style: none;
		a{}
	}
}

.list-inline{
	@include clearfix();
	li{
		display: inline-block;
	}
}
