// Transition
@mixin transition($transition){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

// Clearfix
@mixin clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}


// Slide Animation
@mixin slide_animation($slide){
	-webkit-animation: $slide;
	-moz-animation: $slide;
	-ms-animation: $slide;
	-o-animation: $slide;
	animation: $slide;
}
@-webkit-keyframes slide{
    0%{ 
    	background-size: 100%; 
    }
    50%{ 
    	background-size: 110%; 
    }
    100%{ 
    	background-size: 100%; 
    }
}