.footer_bottom_section{
	background-color: $black;
	padding-top: 55px;
	padding-bottom: 70px;
	.quick_links{
		padding-bottom: 38px;
		ul{
			li{
				display: inline-block;
				padding: 15px 25px;
				a{
					font-size: 12px;
					letter-spacing: 1px;
					text-transform: uppercase;
					color: $white;
					font-weight: 500;
					display: inline-block;
					&:hover{
						text-decoration: none;
						color: $primary_color;
					}
				}
			}
		}
	}
	.footer_btn{
		margin-bottom: 50px;
		a{
			border: 2px solid $white;
			font-size: 12px;
			font-weight: 700;
			padding: 11px 40px;
			display: inline-block;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	.copyright_txt{
		margin-bottom: 60px;
		p{
			color: $white;
			font-size: 12px;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 24px;
		}
	}
	hr{
		border-color: $white;
		opacity: 0.05;
		margin: 0px auto 55px;
		width: 90%;
	}
	.disclaimer_txt{
		p{
			font-size: 10px;
			line-height: 20px;
			letter-spacing: 0.5px;
			color: $white;
			opacity: 0.15;
			text-align: center;
		}
	}
}





/* Extra Huge large desktops */
@media (min-width: 1920px){
    
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px){
    
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px){
    
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px){
    
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
	
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
	.footer_bottom_section{
		.quick_links{
			ul{
				li{
					padding: 15px 10px;
					a{

					}
				}
			}
		}
	}
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.footer_bottom_section{
		.quick_links{
			ul{
				li{
					padding: 8px 10px;
					a{
						font-size: 10px;
					}
				}
			}
		}
	}
}

/* Smaller phones */
@media (max-width: 360px) {
	.footer_bottom_section{
		.quick_links{
			ul{
				li{
					padding: 8px 10px;
					a{
						font-size: 10px;
					}
				}
			}
		}
	}
}

/* Smaller phones */
@media (max-width: 320px) {
    
}