#portfolio_sec {
    nav.nav {
        justify-content: center;
        a {
            padding: 8px 15px;
            background-color: $primary_color;
            margin: 2px 2px;
            display: inline-block;
            border-radius: 7px;
            font-size: 14px;
            color: $white;
            &.active {
                background-color: $secondary_color;
                color: $white;
            }
        }
    }
    .portfolio_area {
        .row {
            gap: 15px;
            .project {
                flex: 0 0 32%;
                position: relative;
                img {
                    object-fit: cover;
                    object-position: top;
                }
                .project-info {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 1;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.94) 10%, transparent 100%);
                    top: 50%;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: end;
                    padding: 10px 15px 15px;
                    h2 {
                        font-size: 16px;
                        line-height: normal;
                        margin-bottom: 10px;
                        color: $white;
                        font-weight: 700;
                    }
                    .project-info-button {
                        background-color: $secondary_color;
                        color: $white;
                        display: inline-block;
                        padding: 5px 10px;
                        border-radius: 7px;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #portfolio_sec {
        .portfolio_area {
            .row {
                .project {
                    flex: 0 0 31.9%;
                    position: relative;
                    .project-info {
                        .project-info-button {
                            padding: 5px 7px;
                            border-radius: 4px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) and (min-width: 576px) {
    #portfolio_sec {
        .portfolio_area {
            .row {
                .project {
                    flex: 0 0 48%;
                    position: relative;
                    .project-info {
                        .project-info-button {
                            padding: 5px 7px;
                            border-radius: 4px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 575px) {
    #portfolio_sec {
        .portfolio_area {
            .row {
                .project {
                    flex: 0 0 100%;
                    position: relative;
                    .project-info {
                        .project-info-button {
                            padding: 5px 7px;
                            border-radius: 4px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}